.homepage {
    background-color: white;
    .content {
        width: 96%;
        max-width: 980px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-column-gap: 2em;
        grid-template-areas: 
            "news1 shortcuts"
            "news2 shortcuts";

        @media all and (max-width: $screen-small) {
            display: block;
        }
    }
    
}

.home-shortcuts {
    grid-area: shortcuts;
}

.part1 {
    grid-area: news1;
}
.part2 {
    grid-area: news2;
}
.news {
    section {
        margin: 1em 0;
        padding-bottom: 2em;
        border-bottom: 1px solid #ccc;

        h3 {
            margin-top: $baseline*2;
        }
    }
}

.home-shortcuts {

    margin-top: 2.5em;

    section {
        background-color:#f2f3f4; 
        padding: $baseline;
    }

    .social-media {
        margin-top: $baseline;
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: $baseline;
            padding-left: 0;

            li {
                padding-right: $baseline;
            }
        }
    }
}

.footer {
    background: #D8D8D8;
    
    div {
        width: 96%;
        max-width: 980px;
        margin: 3em auto 0;
        padding: 2em 0;
    }
}